/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

.homebody {
    min-height: 100dvh;
}

 body {
    padding: 0 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #223824;
    text-align: left;
    background-color: rgb(251, 255, 246);
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

header a:link, footer a:link {
    text-decoration: none;
    /* color: white; */
}
  
header a:visited, footer a:visited {
    text-decoration: none;
    /* color: white; */
}

header a:hover, footer a:hover {
    /* text-decoration: none;
    color: white; */
}

header a:active, footer a:active{
    text-decoration: none;
    /* color: white; */
}

/* #collapse_search {
    position: absolute;
    z-index: 5;
    width: 19.9rem;
    opacity: .85;
}

#collapse_search select {
    opacity: 1;
    width: 100%;
    opacity: 1;
} */