<%# not used %>

<select id="subcategory" class="form-select" form='search_form' name='subcategory'>
  <option value="">Subcategory...</option>
    <%= options_from_collection_for_select(subcategories, 'id', 'plant_subcategory') %>
</select>